astroid==2.3.1
asyncpool==1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
coloredlogs==10.0
dnspython==1.16.0
future==0.18.2
humanfriendly==4.18
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
numpy==1.19.0
protobuf==3.10.0
pycparser==2.19
pylint==2.4.2
python-magic==0.4.15
requests==2.22.0
scapy==2.4.3
six==1.12.0
treelib==1.6.1
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.1
yara==1.7.7
yara-python==3.11.0
zio3==3.0.4
